/ {
  keymap {
    compatible = "zmk,keymap";

    // https://zmk.dev/docs/codes

    dynamic { // _DYN
      bindings = <
        &bootloader
        &none        &none        &none        &none        &none         &none       &none             &none          &none         &none        &none        &none        &none         &none
        &none        &none        &none        &none        &none         &none       &none             &none          &none         &none        &none        &none        &none         &none
        &none        &none        &none        &none        &none         &none                                        &none         &none        &none        &none        &none         &none
        &none        &none        &none        &none        &none         &none       &none             &none          &none         &none        &none        &none        &none         &none
        &none        &trans       &trans       &trans       &trans                                                                   &none        &none        &none        &none         &none
                                                                          &none       &none             &none          &none
                                                            &none         &none       &none             &none          &none         &none
                                                                                      &none             &none
      >;
    };
  };
};