/ {
  keymap {
    compatible = "zmk,keymap";

    // https://zmk.dev/docs/codes

    bluetooth { // BT
      bindings = <
        &bootloader
        &none        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4  &none             &none          &none         &none        &none        &none        &none         &none
        &none        &none        &none        &none        &none         &none         &none             &none          &none         &none        &none        &none        &none         &none
        &none        &none        &none        &none        &none         &none                                          &none         &none        &none        &none        &none         &none
        &none        &none        &none        &none        &none         &none         &none             &none          &none         &none        &none        &none        &none         &none
        &none        &trans       &trans       &trans       &trans                                                                     &none        &none        &none        &none         &none
                                                                          &none         &none             &none          &none
                                                            &none         &none         &none             &none          &none         &none
                                                                                        &none             &bt BT_CLR
      >;
    };
  };
};